# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.pdf

# Python
__pycache__/
*.pyc
.venv/
venv/

# 系统
.DS_Store
Thumbs.db

# 编辑器
.vscode/
.idea/

# C / C++
*.o
*.obj
*.exe
*.out
*.app
*.so
*.dylib
*.dll
*.a
*.lib
a.out